@import '../../styles/_colors';
.Btn_bg{
    width: 100%;
    cursor: pointer;
    // position: relative;
    border-style: solid;
    border-color: $light-red transparent transparent transparent !important;
    border-width: 75px 75px 0 0 !important;
    &:hover {
        border-color: $dark-red transparent transparent transparent !important;
    }

}
.Btn_txt{
    margin-top: -55px;
}

.slideLeft2 {
    animation: slide-out-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    

}

.slideLeft1 {
    animation: slide-out-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .1s
    
}

.slideLeft0 {
    animation: slide-out-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .25s
    
}

@keyframes slide-out-left {
    0% {
        left: 0vh;
    }

    100% {
        left: -100vh;
    }
}