@import '../../styles/_colors';
.Btn_bg{
    width: 100%;
    cursor: pointer;
    // position: relative;
    border-style: solid;
    border-color: $light-red transparent transparent transparent !important;
    border-width: 75px 75px 0 0 !important;
    &:hover {
        border-color: $dark-red transparent transparent transparent !important;
    }

}
.Btn_txt{
    margin-top: -55px;
}