.Btn_bg{
    width: 100%;
    // position: relative;
    border-style: solid;
    border-color: red transparent transparent transparent !important;
    border-width: 75px 75px 0 0 !important;

}
.Btn_txt{
    margin-top: -55px;
}