.Home{
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    width: 30%;
    margin: auto;
    display: block;
    padding: 20px;
    h1, button {
        font-family: 'Oswald', sans-serif !important;
    }
    button {
        width: 80%;
        margin-bottom: 20px !important;
    }
}