.Octagon {
  width: 80%;
  margin: auto; }

.Div {
  width: 70%;
  margin-top: 5%;
  margin: auto;
  height: 1200px; }

@media (max-width: 500px) {
  .Octagon {
    width: 450px; }
  .Div {
    width: 100%; } }
