@import '../../styles/_colors';

.App {
  text-align: center;
  background-image: url('../../assets/imgs/background_3_v4.png');
  background-size: cover;
  width: 100%;
  
  font-family: 'Racing Sans One', 'Arial';
}

