@import '../../styles/_colors';

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Racing Sans One', 'Arial';
}

body{
  background-image: url('../../assets/imgs/background_3_v5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
